body {
  font-family: Cursive; 
}

header {
  background-color: #ffcc80;
  border: 1.5px solid black;
  margin-bottom: 10px;
  padding: 5px;
}

.column-1 {
  background-color: #00bfff;
  display: inline-block;
  width: 45%;
  border: 1.5px solid black;
  padding: 5px;
}

.column-2{
  background-color:#db70b8;
  display: inline-block;
  width: 45%;
  border: 1.5px solid black;
  padding: 5px;

}

footer {
  background-color:#00cc66;
  border: 1.5px solid black;
  margin-top: 10px;
  padding: 5px;
}
